**Forecast ECL** <br><br>_Required library: pandas, numpy, scipy, sklearn, itertools, statsmodels, matplotlib_

In [83]:
from pathlib import Path
import pandas as pd
from pandas.tseries.offsets import DateOffset
import numpy as np
from random import random, seed
import itertools
import time

In [84]:
DIR_ARGS = 'C:\\Users\\muhammad.huda\\OneDrive - Seagroup\\01. Erfan\\FR Forecast'
FILE_ARGS = {
    "base_actual": "raw_data_complete_202403_original1.csv",
    "pricing_version": "pricing_version.csv",
    "forecast_disburse": "new_disburse_forecast.csv",
    "flow_rate_forecast_current_to_current": "template/fcst_flowrate_current_current.csv",
    "flow_rate_forecast": "template/fcst_flowrate_normal.csv"
}

**Load Base Data Actual March 2024**

In [85]:
base_data = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['base_actual']),parse_dates=['pt_date', 'loan_disbursement_date'])
# base_data = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['base_actual']),parse_dates=['pt_date', 'disburse_date'])
base_data = base_data.query("product_code in ['101', '102','103','104','105']")
base_data['product_code'] = base_data['product_code'].astype(int)

conditions = [(base_data['product_code'] == 101), (base_data['product_code'] == 102), (base_data['product_code'] == 103), (base_data['product_code'] == 104), (base_data['product_code'] == 105) ]
values = ['SPL', 'SPL', 'BCL', 'BCL', 'SCL']
base_data['product'] = np.select(conditions, values)
base_data['cur_balance'] = base_data['cur_balance'].astype(np.int64)

base_data = base_data.reset_index(drop=True)
base_data

,pt_date,tenor_in_month,payment_freq,ecl_bucket,ecl_bucket_max,col,product_code,loan_disbursement_date,count_loan,cur_balance,total_int_accrued,total_int_accrued_adj,fac_amount,int_real_rate,count_cif,product
0,2024-03-31,12,1,1,1,1,101,2023-08-07,22715,2748859435,36329695,36330544.42,6753238518,32.48,18488,SPL
1,2024-03-31,24,1,5,5,3,101,2023-10-21,11,21279057,3517334,3517333.47,21867803,43.22,2,SPL
2,2024-03-31,3,1,1,1,1,102,2023-12-27,10861,593633475,9367835,9367902.46,1749701982,21.56,8999,SPL
3,2024-03-31,3,1,3,3,2,101,2023-12-31,1853,194433639,5998330,5998336.54,241074073,21.56,1619,SPL
4,2024-03-31,12,1,3,4,2,102,2023-11-08,55,10550144,545842,545840.12,12768533,27.62,45,SPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40721,2024-03-31,6,1,3,4,2,105,2023-10-04,1,3576119,75010,75009.74,6930000,25.94,1,SCL
40722,2024-03-31,6,1,1,3,2,105,2023-09-27,1,3478918,65499,65499.39,19800000,25.94,1,SCL
40723,2024-03-31,12,1,3,3,2,105,2023-08-17,1,2949829,130975,130975.48,4950000,33.78,1,SCL
40724,2024-03-31,6,1,1,4,2,103,2023-12-27,1,371628,7852,7851.77,544500,29.11,1,BCL
40725,2024-03-31,24,1,3,4,2,102,2024-01-20,1,9220068,726087,726086.55,9220068,43.22,1,SPL

**Load Pricing Version Log**

In [86]:
pricing_version = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['pricing_version']), parse_dates=['Date Start', 'Date End'])
# pricing_version = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['pricing_version']), parse_dates=['Date Start', 'Date End'], index_col=['product_code', 'tenor', 'int_real_rate']).drop_duplicates().reset_index()
# pricing_version.loc[pricing_version[['version', 'product_code', 'tenor', 'int_real_rate_pctg', 'int_real_rate', 'period_disburse','identifier']].duplicated(),:]
pricing_version = pricing_version.drop_duplicates(['version', 'product_code', 'tenor', 'int_real_rate_pctg', 'int_real_rate', 'period_disburse','identifier'],keep='last')
pricing_version.reset_index(drop=True)

,version,product_code,tenor,int_real_rate_pctg,int_real_rate,period_disburse,identifier,price_version,Date Start,Date End,product
0,V1,101,1,0.219996,21.9996,Beginning - 4 Apr'22,101-1M-21.9996,V1,2021-01-01,2022-04-04,SPL
1,V1,101,3,0.245004,24.5004,Beginning - 4 Apr'22,101-3M-24.5004,V1,2021-01-01,2022-04-04,SPL
2,V1,101,6,0.270000,27.0000,Beginning - 4 Apr'22,101-6M-27,V1,2021-01-01,2022-04-04,SPL
3,V1,101,12,0.294996,29.4996,Beginning - 4 Apr'22,101-12M-29.4996,V1,2021-01-01,2022-04-04,SPL
4,V1,101,12,0.297960,29.7960,Beginning - 4 Apr'22,101-12M-29.796,V1,2021-01-01,2022-04-04,SPL
...,...,...,...,...,...,...,...,...,...,...,...
187,V10,104,6,0.373800,37.3800,1 Apr'24 - Current,104-6M-37.38,V10,2024-04-01,2024-04-30,SCL
188,V10,104,12,0.435600,43.5600,1 Apr'24 - Current,104-12M-43.56,V10,2024-04-01,2024-04-30,SCL
189,V6b,105,3,0.172300,17.2300,1 Apr'24 - Current,105-3M-17.23,V6b,2024-04-01,2024-04-30,SCL
190,V6b,105,6,0.220800,22.0800,1 Apr'24 - Current,105-6M-22.08,V6b,2024-04-01,2024-04-30,SCL
191,V6b,105,12,0.298500,29.8500,1 Apr'24 - Current,105-12M-29.85,V6b,2024-04-01,2024-04-30,SCL

**Load Forecast Disbursement Data to December 2024**

In [87]:
disburse_forecast = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['forecast_disburse']), parse_dates=['pt_date', 'loan_disbursement_date'])
# disburse_forecast = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['base_actual']),parse_dates=['pt_date', 'disburse_date'], index_col=['product_code', 'tenor', 'int_real_rate'])
# disburse_forecast = disburse_forecast.melt(id_vars=['Product', 'Tenor', 'Loan Disb Month', 'Bucket_CIF', 'IDR million'],var_name='date', value_name='balance')
# disburse_forecast['balance'] = disburse_forecast['balance'].astype(int)
# disburse_forecast['Loan Disb Month'] = pd.to_datetime(disburse_forecast['Loan Disb Month'])
# disburse_forecast['date'] = pd.to_datetime(disburse_forecast['date'])
disburse_forecast['fcst_balance'] = disburse_forecast['fcst_balance'].astype(np.int64)
disburse_forecast['int_real_rate'] = disburse_forecast.merge(pricing_version,left_on=['product','tenor','pricing_version'],right_on=['product', 'tenor', 'version'],how='left')['int_real_rate']
disburse_forecast
# disburse_forecast.reset_index(drop=True).equals(pricing_version.reset_index(drop=True))

,pt_date,product,tenor,loan_disbursement_date,ecl_bucket_max,pricing_version,fcst_balance,int_real_rate
0,2024-04-30,SCL,3,2024-04-30,1,V6b,46125384882,17.23
1,2024-04-30,SCL,6,2024-04-30,1,V6b,61103454323,22.08
2,2024-04-30,SCL,12,2024-04-30,1,V6b,35886097512,29.85
3,2024-04-30,SCL,3,2024-04-30,2,V6b,64946427,17.23
4,2024-04-30,SCL,6,2024-04-30,2,V6b,92733874,22.08
...,...,...,...,...,...,...,...,...
4126,2024-12-31,SPL,3,2024-12-31,5,V11,0,26.88
4127,2024-12-31,SPL,6,2024-12-31,5,V11,0,33.95
4128,2024-12-31,SPL,12,2024-12-31,5,V11,0,33.95
4129,2024-12-31,SPL,18,2024-12-31,5,V11,0,36.52
4130,2024-12-31,SPL,24,2024-12-31,5,V11,0,36.52

**Load Merged Flowrate Forecast**

In [88]:
# fr_current_current = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['flow_rate_forecast_current_to_current'])).dropna()
# fr_current_current = fr_current_current.melt(id_vars=['product', 'tenor', 'matrix', 'version'], var_name='date',value_name='rate')
# fr_current_current['date'] = pd.to_datetime(fr_current_current['date'])
# # fr_current_current.info()

fr_current_current = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['flow_rate_forecast_current_to_current']),parse_dates=['date'])
fr_current_current = fr_current_current.loc[:, ['product', 'tenor', 'matrix', 'version','date', 'rate']]
fr_current_current['rate'] = fr_current_current['rate'].str.rstrip('%').astype('float') / 100.0

fr_normal = pd.read_csv(Path().joinpath(DIR_ARGS, FILE_ARGS['flow_rate_forecast']),parse_dates=['date'])
fr_normal['version'] = ""
fr_normal = fr_normal.loc[:, ['product', 'tenor', 'matrix', 'version','date', 'rate']]
fr_normal['rate'] = fr_normal['rate'].str.rstrip('%').astype('float') / 100.0



fr_merged = pd.concat([fr_normal, fr_current_current], ignore_index=True, sort=False)
fr_merged

     product  tenor             matrix version       date      rate
0        SPL      1       Current - M1         2024-04-30  0.026613
1        SPL      2       Current - M1         2024-04-30  0.000000
2        SPL      3       Current - M1         2024-04-30  0.026834
3        SPL      6       Current - M1         2024-04-30  0.034530
4        SPL     12       Current - M1         2024-04-30  0.037981
...      ...    ...                ...     ...        ...       ...
1984     SCL      3  Current - Current     V5b 2024-12-31  0.518025
1985     SCL      6  Current - Current     V5b 2024-12-31  0.745106
1986     SCL     12  Current - Current     V5b 2024-12-31  0.664831
1987     SCL     18  Current - Current     V5b 2024-12-31  0.000000
1988     SCL     24  Current - Current     V5b 2024-12-31  0.000000

[1989 rows x 6 columns]

**Function for splitting current and calculate forecast**

In [188]:
final_base = pd.merge(base_data, pricing_version, left_on=['product_code', 'tenor_in_month', 'int_real_rate'], right_on=['product_code', 'tenor', 'int_real_rate'], how='left')
final_base['price_version'] = final_base['price_version'].astype(str)
final_base['version'] = final_base['version'].astype(str)
final_base['period_disburse'] = final_base['period_disburse'].astype(str)

# new_df = final_base.loc[(final_base['ecl_bucket_max'] == 1),:]
# new_df = pd.DataFrame(new_df.values.repeat(2, axis=0), columns=new_df.columns).reset_index()
# row_1 = new_df.iloc[0::2, :]
# row_1['fr_normal'] = 'Current - Current'
# row_2 = new_df.iloc[1::2,:]
# row_2['fr_normal'] = 'Current - M1'
# new_df = pd.concat([row_1, row_2])
# final_base = final_base.drop(final_base[final_base['ecl_bucket_max'] == 1].index)
# final_base = pd.concat([final_base, new_df]).convert_dtypes()

def discount_factor(ecl_bucket, int_real_rate, n):
    if ecl_bucket >= 5:
        return 1
    else:
        return (1 / (1 + int_real_rate / 100 / 12 ) ** (n - 1))

def split_current(data):
    new_df = pd.DataFrame(final_base.loc[(final_base['ecl_bucket_max'] == 1),:].values.repeat(2,axis=0), columns=final_base.columns)
    row_1 = new_df.iloc[0::2, :]
    row_1['fr_normal'] = 'Current - Current'
    row_2 = new_df.iloc[1::2, :]
    row_2['fr_normal'] = 'Current - M1'

    drop_bucket1 = final_base.drop(final_base[final_base['ecl_bucket_max'] == 1].index)
    data = pd.concat([row_1, row_2, drop_bucket1]).reset_index(drop=True).convert_dtypes()

    return data

def flowrate_matcher(x, date: str):
    matrix_conditions = [(x['ecl_bucket_max'] == 2), (x['ecl_bucket_max'] == 3), (x['ecl_bucket_max'] == 4), (x['ecl_bucket_max'] == 5)]
    matrix_values = ['M1 - M2', 'M2 - M3', 'M3 - M4','M4 - M5']
    disb_matrix = ['Disbursement - Current', 'Disbursement - M1']
    
    if (x['ecl_bucket_max'] == 1) and (x['fr_normal'] == 'Current - M1'):
        # x['fr_current_rate'] = pd.to_numeric(fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Current - Current') & (fr_merged['product'] == x['product']) & (fr_merged['tenor'] == x['tenor_in_month']) & (fr_merged['version'] == x['price_version']), 'rate'], errors='coerce', downcast='float').values[0]
        x['fr_normal_rate'] = pd.to_numeric(0 if fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Current - M1') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'].empty else fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Current - M1') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'].iloc[0], errors='coerce', downcast='float')
        x['ecl_bucket_max'] = x['ecl_bucket_max'] + 1
        
        # x['fr_disburse_current_rate'] = pd.to_numeric(fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Disburse - Current') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'], errors='coerce', downcast='float')[0]
        
        # x['fr_disburse_m1_rate'] = pd.to_numeric(fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Disburse - M1') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'], errors='coerce', downcast='float')[0]
        # x['fr_normal_rate'] = pd.to_numeric(fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == x['fr_normal']) & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'], errors='coerce', downcast='float')[0]
    elif (x['ecl_bucket_max'] == 1) and (x['fr_normal'] == 'Current - Current'):
        x['fr_normal_rate'] = pd.to_numeric(0 if fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Current - Current') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']) & (fr_merged['version'] == x['price_version']), 'rate'].empty else fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == 'Current - Current') & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']) & (fr_merged['version'] == x['price_version']), 'rate'].iloc[0], errors='coerce', downcast='float')
        x['ecl_bucket_max'] = x['ecl_bucket_max']

    else:
        x['fr_normal'] = np.select(matrix_conditions, matrix_values, 0)
        # x['fr_disburse_current_rate'] = 0
        # x['fr_disburse_m1_rate'] = 0

        # x['fr_current_rate'] = 0  
        x['fr_normal_rate'] = pd.to_numeric(0 if fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == x['fr_normal']) & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'].empty else fr_merged.loc[(fr_merged['date'] == date) & (fr_merged['matrix'] == x['fr_normal']) & (fr_merged['product'] == x['product_x']) & (fr_merged['tenor'] == x['tenor_in_month']), 'rate'].iloc[0], errors='coerce', downcast='float')
        x['ecl_bucket_max'] = x['ecl_bucket_max'] + 1
        
    x['pt_date'] = date
    x['cur_balance'] = x['cur_balance'] * x['fr_normal_rate']
    
    return x

def period_matrix(data: pd.DataFrame) -> pd.DataFrame:
    period = [x for x in range(1, (data.date2 - data.date1)/np.timedelta64(1, 'M') + 1, 1)]
    num = x['']
    x.append()


    return data

**Run Forecast Process**

In [191]:
forecast_apr_24 = split_current(final_base)
forecast_apr_24 = forecast_apr_24.apply(lambda x: flowrate_matcher(x, '2024-04-30'), axis=1).convert_dtypes()
# forecast_apr_24['cur_balance'] = forecast_apr_24['cur_balance'].astype(np.int64)

forecast_may_24 = split_current(forecast_apr_24)
forecast_may_24 = forecast_may_24.apply(lambda x: flowrate_matcher(x, '2024-05-31'), axis=1).convert_dtypes()
# forecast_may_24['cur_balance'] = forecast_may_24['cur_balance'].astype(np.int64)

forecast_jun_24 = split_current(forecast_may_24)
forecast_jun_24 = forecast_jun_24.apply(lambda x: flowrate_matcher(x, '2024-06-30'), axis=1).convert_dtypes()

forecast_jul_24 = split_current(forecast_jun_24)
forecast_jul_24 = forecast_jul_24.apply(lambda x: flowrate_matcher(x, '2024-07-31'), axis=1).convert_dtypes()

forecast_aug_24 = split_current(forecast_jul_24)
forecast_aug_24 = forecast_aug_24.apply(lambda x: flowrate_matcher(x, '2024-08-31'), axis=1).convert_dtypes()

forecast_sep_24 = split_current(forecast_aug_24)
forecast_sep_24 = forecast_sep_24.apply(lambda x: flowrate_matcher(x, '2024-09-30'), axis=1).convert_dtypes()

forecast_oct_24 = split_current(forecast_sep_24)
forecast_oct_24 = forecast_oct_24.apply(lambda x: flowrate_matcher(x, '2024-10-31'), axis=1).convert_dtypes()

forecast_nov_24 = split_current(forecast_oct_24)
forecast_nov_24 = forecast_nov_24.apply(lambda x: flowrate_matcher(x, '2024-11-30'), axis=1).convert_dtypes()

forecast_dec_24 = split_current(forecast_nov_24)
forecast_dec_24 = forecast_dec_24.apply(lambda x: flowrate_matcher(x, '2024-12-31'), axis=1).convert_dtypes()

final_base.to_excel(Path().joinpath(DIR_ARGS, "forecast_result_2024_v2.xlsx"), sheet_name="latest_actual")
with pd.ExcelWriter(Path().joinpath(DIR_ARGS, "forecast_result_2024_v2.xlsx"),mode="a") as w:
    forecast_apr_24.to_excel(w, sheet_name="Fcst_2024_04")
    forecast_may_24.to_excel(w, sheet_name='Fcst_2024_05')
    forecast_jun_24.to_excel(w, sheet_name='Fcst_2024_06')
    forecast_jul_24.to_excel(w, sheet_name='Fcst_2024_07')
    forecast_aug_24.to_excel(w, sheet_name='Fcst_2024_08')
    forecast_sep_24.to_excel(w, sheet_name='Fcst_2024_09')
    forecast_oct_24.to_excel(w, sheet_name='Fcst_2024_10')
    forecast_nov_24.to_excel(w, sheet_name='Fcst_2024_11')
    forecast_dec_24.to_excel(w, sheet_name='Fcst_2024_12')

C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_1['fr_normal'] = 'Current - Current'
C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2['fr_normal'] = 'Current - M1'
c:\Users\muhammad.huda\.pyenv\pyenv-win\versions\3.11.3\Lib\site-packages\pandas\core\dtypes\cast.py:1079: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Users\muhammad.huda\.pyenv\pyenv-win\versions\3.11.3\Lib\site-packages\pandas\core\dtypes\cast.py:1104: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_1['fr_normal'] = 'Current - Current'
C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2['fr_normal'] = 'Current - M1'
c:\Users\muhammad.huda\.pyenv\pyenv-win\versions\3.11.3\Lib\site-packages\pandas\core\dtypes\cast.py:1079: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():
c:\Users\muhammad.huda\.pyenv\pyenv-win\versions\3.11.3\Lib\site-packages\pandas\core\dtypes\cast.py:1104: RuntimeWarning: invalid value encountered in cast
  if (arr.astype(int) == arr).all():

In [189]:
pd.concat([forecast_apr_24, disburse_forecast.loc[(disburse_forecast['pt_date'] == '2024-04-30'),:]]).convert_dtypes()
forecast_apr_24.append(forecast_apr_24)

C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_1['fr_normal'] = 'Current - Current'
C:\Users\muhammad.huda\AppData\Local\Temp\ipykernel_1428\3611192960.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row_2['fr_normal'] = 'Current - M1'